language: python
python:
#  - "2.6"
  - "2.7"
#  - "3.2"
#  - "3.3"
#  - "3.4"
  - "3.5"
#  - "3.5-dev" # 3.5 development branch
#  - "nightly" # currently points to 3.6-dev
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install pep8
# command to run tests
script:
  - pep8 awscurl
#  - pandoc --from=markdown --to=rst --output=README.rst README.md
  - python -m tests.test_make_request

